.profile {
    display: flex;
    border: 1px solid red;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .profile {
        width: 100%;
        max-width: 880px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile {
        flex-flow: column;
        width: 282px;
    }
}