.form-sender__button {
    margin: 0;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 238px;
    height: 46px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
}

.form-sender__button:hover {
    opacity: 0.8;
}