.profile-info__edit-button {
    width: 24px;
    height: 24px;
    align-self: end;
    display: flex;
    grid-area: edit-button;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
}