.profile__avatar {
    display: flex;
    width: 120px;
    height: 120px;
    border: 1px solid red;
    border-radius: 50%;
    background: url(../../../images/avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
}