.elements__element {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 282px;
    height: 361px;
    border: 1px solid red;
    background: #FFFFFF;
    border-radius: 10px;
}