.elements__element {
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 361px;
    border: 1px solid red;
    background: #FFFFFF;
    border-radius: 10px;
}